absl-py==2.4.0
audio-separator==0.44.2
audioread==3.1.0
beartype==0.18.5
certifi==2026.5.20
cffi==2.0.0
charset-normalizer==3.4.7
colorama==0.4.6
cython==3.2.5
decorator==5.3.1
diffq-fixed==0.2.4
einops==0.8.2
filelock==3.29.0
flatbuffers==25.12.19
fsspec==2026.4.0
idna==3.18
jinja2==3.1.6
joblib==1.5.3
julius==0.2.8
lazy-loader==0.5
librosa==0.11.0
llvmlite==0.47.0
markupsafe==3.0.3
ml-collections==1.1.0
ml-dtypes==0.5.4
mpmath==1.3.0
msgpack==1.1.2
narwhals==2.22.1
networkx==3.6.1
numba==0.65.1
numpy==2.4.6
onnx-weekly==1.22.0.dev20260519
onnx2torch-py313==1.6.0
onnxruntime-gpu==1.26.0
packaging==26.2
pillow==12.2.0
platformdirs==4.10.0
pooch==1.9.0
protobuf==7.35.0
pycparser==3.0
pydub==0.25.1
pyyaml==6.0.3
requests==2.34.2
resampy==0.4.3
rotary-embedding-torch==0.6.5
samplerate==0.1.0
scikit-learn==1.9.0
scipy==1.17.1
setuptools==70.2.0
six==1.17.0
soundfile==0.14.0
soxr==1.1.0
sympy==1.14.0
threadpoolctl==3.6.0
torch==2.8.0+cu128
torchaudio==2.8.0+cu128
torchvision==0.23.0
tqdm==4.68.1
typing-extensions==4.15.0
urllib3==2.7.0
